# Работа с Excel

Материалы:
* Макрушин С.В. Лекция 7: Работа с Excel
* https://docs.xlwings.org/en/stable/quickstart.html
* https://nbviewer.jupyter.org/github/pybokeh/jupyter_notebooks/blob/master/xlwings/Excel_Formatting.ipynb#search_text

## Задачи для совместного разбора

1. На листе "Рецептура" файла `себестоимостьА_в1.xlsx` для области "Пшеничный хлеб" рассчитать себестоимость всех видов продукции.

2. Результаты расчетов 1.1 сохранить в отдельном столбце области "Пшеничный хлеб"

3. Приблизить форматирование столбца, добавленного в задаче 2 к оформлению всей области.

4. Выполнить 3 с помощью "протягиваемых" формул.

## Лабораторная работа 7.1

1. Загрузите данные из файлов `reviews_sample.csv` (__ЛР2__) и `recipes_sample.csv` (__ЛР5__) в виде `pd.DataFrame`. Обратите внимание на корректное считывание столбца(ов) с индексами. Оставьте в таблице с рецептами следующие столбцы: `id`, `name`, `minutes`, `submitted`, `description`, `n_ingredients`

In [1]:
import pandas as pd
desired_columns=['id', 'name', 'minutes', 'submitted', 'description', 'n_ingredients']
reviews=pd.DataFrame(pd.read_csv('reviews_sample.csv'))
reviews=reviews.rename(columns={'Unnamed: 0':'index'})
reviews=reviews.set_index('index').sort_values('index')
recipes=pd.DataFrame(pd.read_csv('recipes_sample.csv'),columns=desired_columns)
recipes

,id,name,minutes,submitted,description,n_ingredients
0,44123,george s at the cove black bean soup,90,2002-10-25,an original recipe created by chef scott meska...,18.0
1,67664,healthy for them yogurt popsicles,10,2003-07-26,my children and their friends ask for my homem...,NaN
2,38798,i can t believe it s spinach,30,2002-08-29,"these were so go, it surprised even me.",8.0
3,35173,italian gut busters,45,2002-07-27,my sister-in-law made these for us at a family...,NaN
4,84797,love is in the air beef fondue sauces,25,2004-02-23,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...
29995,267661,zurie s holey rustic olive and cheddar bread,80,2007-11-25,this is based on a french recipe but i changed...,10.0
29996,386977,zwetschgenkuchen bavarian plum cake,240,2009-08-24,"this is a traditional fresh plum cake, thought...",11.0
29997,103312,zwiebelkuchen southwest german onion cake,75,2004-11-03,this is a traditional late summer early fall s...,NaN
29998,486161,zydeco soup,60,2012-08-29,this is a delicious soup that i originally fou...,NaN
29999,298512,cookies by design cookies on a stick,29,2008-04-15,"i've heard of the 'cookies by design' company,...",10.0

In [2]:
reviews

,user_id,recipe_id,date,rating,review
index,,,,,
5,52282,120345,2005-05-21,4,very very sweet. after i waited the 2 days i b...
6,124416,120345,2011-08-06,0,"Just an observation, so I will not rate. I fo..."
7,2000192946,120345,2015-05-10,2,This recipe was OVERLY too sweet. I would sta...
8,76535,134728,2005-09-02,4,Very good!
9,273745,134728,2005-12-22,5,Better than the real!!
...,...,...,...,...,...
1132291,681416,103587,2010-02-02,5,This is a delicious alternative to tartar sauc...
1132292,1986433,103587,2011-08-19,1,"Sorry, but this is awful the mix of ingredient..."
1132293,2317533,103587,2012-07-05,5,Outstanding dill sauce! I used about a tsp of...
1132326,1963163,451490,2015-05-23,5,Just made this for the first time today. This ...
1132352,1269180,257796,2011-08-07,4,Very tender and juicy - had trouble getting t...

2. Случайным образом выберите 5% строк из каждой таблицы и сохраните две таблицы на разные листы в один файл `recipes.xlsx`. Дайте листам названия "Рецепты" и "Отзывы", соответствующие содержанию таблиц.

In [3]:
import xlwings as xw
recipes_rand=recipes.sample(n=int(len(recipes)*0.05))
reviews_rand=reviews.sample(n=int(len(reviews)*0.05))
with pd.ExcelWriter(r'C:\Users\haund\laba_4_TOD\laba4.xlsx') as writer:
    recipes_rand.to_excel(writer, sheet_name='Рецепты', index=True)
    reviews_rand.to_excel(writer, sheet_name='Отзывы', index=True)
#wb=xw.Book().save('laba4.xlsx').close

#rcp_page=wb.sheets.add(name='Рецепты')
#rvw_page=wb.sheets.add(name='Отзывы', after=wb.sheets[0].name)

3. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_assign`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи присваивания массива значений диапазону ячеек.

In [4]:
wb=xw.Book('laba4.xlsx') #воркбук
wb.sheets[0].range('A1').expand('table').columns.autofit() #авто-подбор размера для стобцов в таблицах
wb.sheets[1].range('A1').expand('table').columns.autofit()
wb.sheets[0].activate()
rcp_page=wb.sheets[0]
rcp_page.range('g1').value='seconds_assign' #объявляем имя столбца
rcp_page.range('g2').expand('down').options(transpose=True).value=[i*60 for i in rcp_page.range('d2').expand('down').value]
wb.save()

4. Используя `xlwings`, добавьте на лист `Рецепты` столбец `seconds_formula`, показывающий время выполнения рецепта в секундах. Выполните задание при помощи формул Excel.

In [5]:
wb=xw.Book('laba4.xlsx')
rcp_page=wb.sheets[0]
rcp_page.range('h1').value='seconds_formula' #объявляем имя столбца
rcp_page.range('h2:h1501').formula='=D2*60'
wb.save()

5. Сделайте названия всех добавленных столбцов полужирными и выровняйте по центру ячейки.

In [6]:
wb=xw.Book('laba4.xlsx')
rcp_page=wb.sheets[0]
rcp_page.range('h1:g1').font.bold = True
rcp_page.range('h1:g1').columns.autofit()
wb.save()

6. Раскрасьте ячейки столбца `minutes` в соответствии со следующим правилом: если рецепт выполняется быстрее 5 минут, то цвет - зеленый; от 5 до 10 минут - жёлтый; и больше 10 - красный.

In [7]:
wb=xw.Book('laba4.xlsx')
rcp_page=wb.sheets[0]
minutes_range=rcp_page.range('d2').expand('down')
for row in minutes_range:
    minutes=row.value
    if minutes<5:
        row.color=(0,255,0)
    elif minutes>10:
        row.color=(255,0,0)
    else:
        row.color=(255,255,0)
wb.save()

7. Добавьте на лист `Рецепты`  столбец `n_reviews`, содержащий кол-во отзывов для этого рецепта. Выполните задание при помощи формул Excel.

In [8]:
wb=xw.Book('laba4.xlsx')
rcp_page=wb.sheets[0] #страница рецептов

rcp_page.range('i1').value='n_reviews' #заголовок нужного столбца
n=str(len(reviews)+1)

rcp_page.range('i2:i1501').formula=f'=COUNTIF(Отзывы!$C$2:$C${n},"="&B2'
wb.save()

## Лабораторная работа 7.2

8. Напишите функцию `validate()`, которая проверяет соответствие всех строк из листа `Отзывы` следующим правилам:
    * Рейтинг - это число от 0 до 5 включительно
    * Соответствующий рецепт имеется на листе `Рецепты`
    
В случае несоответствия этим правилам, выделите строку красным цветом

In [ ]:
sht_rev = wb.sheets['Отзывы']
sht_rec = wb.sheets['Рецепты']
id_arrays = sht_rec.range('C2:C1501').options(ndim = 1).value

for i in range(6337):
    if (sht_rev.range((i+2,3)).value in id_arrays) and (sht_rev.range((i+2,5)).value in [0.0, 1.0, 2.0, 3.0, 4.0, 5.0]):
        sht_rev.range((i+2, 2)).expand('right').color = (0, 255, 0)
    else:
        sht_rev.range((i+2, 2)).expand('right').color = (255, 0, 0)

In [ ]:
wb.save()

9. В файле `recipes_model.csv` находится модель данных предметной области "рецепты". При помощи пакета `csv` считайте эти данные. При помощи пакета `xlwings` запишите данные на лист `Модель` книги `recipes_model.xlsx`, начиная с ячейки `A2`, не используя циклы. Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

In [ ]:
rec_mod = pd.read_csv('recipes_model.csv', delimiter = '\t', index_col = 0)
# rec_mod

sht_mod = wb.sheets['Модель']

sht_mod.range('A2').value = rec_mod

In [ ]:
wb.save()

In [ ]:
from IPython.display import Image
Image('/Users/haund/Desktop/прога/ТОД/04_excel/9.png')

10. При помощи пакета `xlwings` добавьте в столбец J формулу для описания столбца на языке SQL. Формула должна реализовывать следующую логику:

    1\. в начале строки идут значения из столбцов В и C (значение столбца С приведено к верхнему регистру), разделенные пробелом
    
    2\. далее идут слова на основе столбца "Ключ"
        2.1 если в столбце "Ключ" указано значение "PK", то дальше через пробел идет ключевое слово "PRIMARY KEY"
        2.2 если в столбце "Ключ" указано значение "FK", то дальше через пробел идет ключевое слово "REFERENCES", затем значения столбцов H и I в формате "название_таблицы(название_столбца)"
        
    3\. если в столбце "Обязательно к заполнению" указано значение "Y" и в столбце "Ключ" указано не "PK", то дальше через пробел идет ключевое слово "NOT NULL".

Заполните этой формулой необходимое количество строк, используя "протягивание". Количество строк для протягивания определите на основе данных.

Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

In [ ]:
fml = '=CONCAT(B2, " ", UPPER(C2), " ", IF(G2 = "PK", "PRIMARY KEY", IF(G2 = "FK", CONCAT("REFERENCES", " ", H2, "(", I2, ")"),)), " ", IF(AND(D2="Y", G2<>"PK"), "NOT NULL",))'
sht_mod.range('J2:J18').formula = fml
wb.save()

In [ ]:
from IPython.display import Image
Image('/Users/haund/Desktop/прога/ТОД/04_excel/10.png')

11. При помощи пакета `xlwings` измените стилизацию листа `Модель`.
* для заголовков добавьте заливку цвета `00ccff`
* примените автоподбор ширины столбца;
* сделайте шрифт заголовков полужирным;
* добавьте таблице автофильтр.

Сделайте скриншот текущего состояния листа и прикрепите в ячейку ноутбука.

In [ ]:
title = ['Тип таблицы', 'Столбец', 'Тип данных', 'Обязательно к заполнению', 'Название листа', 'Атрибут', 'Ключ', 'Родитель', 'Внешний ключ', 'SQL']
sht_mod.range('A1').value = title
sht_mod.autofit()
sht_mod.range('A1').expand('right').color = '00ccff'
sht_mod.range('A1').expand('right').font.bold = True

In [ ]:
from IPython.display import Image
Image('/Users/haund/Desktop/прога/ТОД/04_excel/11.png')

12. Посчитайте количество атрибутов для каждой из сущностей. Создайте лист `Статистика` и запишите в него результат группировки, начиная с ячейки "А1". Визуализируйте полученный результат при помощи столбчатой диаграммы. Сохраните полученную визуализацию на лист `Статистика`, начиная с ячейки "E2".  Сделайте скриншот листа `Статистика` и прикрепите в ячейку ноутбука.

* Вы можете воспользоваться методами для визуализации, которые поставляются вместе с объектами `pandas` (см. https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot)

In [ ]:
wb = xw.Book('recipes_model.xlsx')
# wb.sheets.add(name = 'Статистика', after = wb.sheets[0].name)
sht_st = wb.sheets['Статистика']
tables = sht_mod.range('A2').expand('down').value
atributes = sht_mod.range('B2').expand('down').value
df = pd.DataFrame({'Тип таблицы':tables, 'Столбец':atributes}).groupby('Тип таблицы').count()
df

In [ ]:
from IPython.display import Image
Image('/Users/haund/Desktop/прога/ТОД/04_excel/12.png')

In [ ]:
import matplotlib as plt
sht_st.range('A1').value = df
graph = df.plot.bar()

In [ ]:
fig = graph.get_figure()
sht_st.pictures.add(fig, name='График', left=sht_st.range('E2').left, update = True)

In [ ]:
wb.save()